doctype html

head
	meta(charset='utf-8')
	link(rel='stylesheet' type='text/css' href='/public/styles.css')
body
	nav#navbar
		h1.main-title Hello and Welcome
		ul.nav-options
			li Main
			li About
			li News
			li Events
			li Contact
	main#content
		section#articles
			div.card
				h2 Article Title
				div.summary And there was one...
				div.button.test.never Read
			div.card
				h2 Article Title
				div.summary And there was one...
				div.button Read
			div.card
				h2 Article Title
				div.summary And there was one...
				div.button Read
			div.card
				h2 Article Title
				div.summary And there was one...
				div.button Read
		aside#sidebar
			div Sidebar info

	script(src='/public/build.js')